@page
@model _21880103_project.Pages.MH_ThemSanPhamModel
@{
    <form method="post">
        <label for="fname">Mã sản phẩm</label><br />
        <input type="text" name="masp" value=""> <br />
        <label for="fname">Tên sản phẩm</label><br />
        <input type="text" name="tensp" value=""> <br />
        <label for="fname">Giá</label> <br />
        <input type="text" name="gia" value=""> <br />
        <input type="submit" value="Luu">
    </form>
}
@Model.Chuoi